div {
    position: relative;
    padding-right: 25%;
    padding-left: 25%;
}

#anakin {
    padding-right: 10%;
    padding-left: 10%;
    width: 1200px;
    height: 400px;
    background-image: url("anakin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    position: relative;
    left: 0;
    align-items: center;
}

#title {
    font-family: 'Vidaloka', serif;
    font-size: 40px;
    position: absolute;
    top: 200px;
    width: 100%;
    padding-left: 15%; 
}

big {
    font-size: 80px;
}

.quote {
    font-family: 'Vidaloka', serif;
    font-weight: strong;
    font-size: 50px;
    text-align: left;
    color: white;
    background-color: #3B3737;
    border-color: #3B3737;
    border-style: solid;
    border-width: 20px;
}

body {
    font-family: 'Nunito', sans-serif;    
    font-size: 20px;
}

hr {
    background-color: black;
    height: 2px;
}

.maintitle{
    line-height: 0%;
}

.subtitle {
    font-size: 16px;
    line-height: 0%;
    font-weight: bold;
    font-style: italic;
}