html{
    background-color: #DDDDDD;
}

div {
    position: absolute;
    width: 430px;
    height: 510px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

p {
    font-size: 36px;
    position: relative;
    width: 380px;
    height: 100px;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 26px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: #0E91A1;
    border-style: solid;
    border-color: #7ACD92;
    border-width: 3px;
    color:#025766;
}