* {
    margin: 0px;
    padding: 0px;
}

div {
    padding: 10px;
    margin-bottom: 5px;
    width: 290px;
    height: 200px;;
    border-style: solid;
    border-color: #4285F4;
    border-width: 10px;
}

p {
    text-align: center;
    padding-top: 30px;
    font-size: 36px;
    width: 290px;
    height: 70px;
    color:white;
}

div:nth-child(1){
    background-color: #E67676;
}

div:nth-child(2){
    background-color: #A9E6E6;
}
