<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Filling multiple Accounts</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
<tr>
    <th>#</th>
    <th>Name</th>
    <th>Balance</th>
    <th>Type</th>
</tr>
<tr th:each= "account, iterationStatus : ${animalList}" th:style="${account.animalType} == 'king' ?  'color : red' : 'color : black'" >
    <th th:text="${iterationStatus.count}"></th>
    <th th:text="${account.name}"></th>
    <th th:text="${account.balance} + ${account.currency}" ></th>
    <th th:text="${account.animalType}"  ></th>
</tr>
</table>

</body>
</html>