<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body >
<ul>
    <li><a href="index.html">Information</a></li>
    <li><a href="nutritionStore.html">Nutrition Store</a></li>
</ul>
<img src="greenfox.png"/>
<p th:text="'This is ' + ${fox.name} + ' Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows ' + ${foxTricks} + ' tricks.'" >
    This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
<h1>Known tricks</h1>
<div th:if="${foxTricks}=='0'">
    <p>You know no tricks, yet. Go learn some.</p>
</div>
<div th:unless="${foxTricks}=='0'">
    <ul th:each="trick : ${fox.tricks}" >
        <li th:text="${trick}"></li>
    </ul>
</div>
</body>
</html>